/*
Design by Metamorphosis Design
http://www.metamorphozis.com
Released for free under a Creative Commons Attribution 2.5 License
*/

*{
  margin: 0px;
  padding: 0px;
}

img, fieldset{
  padding: 0px;
  border: none;
  margin: 0px;
  line-height: 0px;
}

a{
  color: #666666;
  text-decoration: none;
/*  font-weight: bold;*/
}

a:hover {
  text-decoration: none;
  color: #000000;
}

body{	
  font: 12px Arial, Helvetica, sans-serif;
  color: #666666;
  background: #29313c url(/images/themes/freecss_solid/bg.png);
}

h2{
  font: 14px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #f07905;
  padding-bottom: 10px;	
}
h2 a,
h2 a:visited {
  color: #f07905;
}

h3{
  font: 18px Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #ffffff;
  padding-bottom: 10px;
  padding-top: 13px;	
  text-align: center;
}

h4{
font: 18px Arial, Helvetica, sans-serif;
font-weight: normal;
color: #f07905;
padding-bottom: 20px;	
}

.clear{
clear: both;	
}

.read{
text-align: right;
padding-right: 5px;
padding-top: 5px;
}

.read a,
.read a:visited {
color: #ff0000;
font-weight: normal;
font-size: 11px;
}

.read a:hover{
color: #666666;
}

/*
wrapper
*/

#wrap{
width: 997px;
margin: auto;
}


#top_box{
padding-bottom: 25px;
}

/*logo*/

#logo{
width: 337px;
height: 66px;
padding-top: 20px;
background: url(/images/themes/freecss_solid/logo.jpg) no-repeat top left;
float: left;
}

#logo h1 a{
  font: 14px Arial, Helvetica, sans-serif;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  padding-left: 38px;
}

#logo a small{
  font: 12px Arial, Helvetica, sans-serif;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  padding-left: 38px;
}

/*
menu
*/

#menu{
float: left;
padding-left: 50px;
padding-top: 36px;
}

#menu ul{
padding-left: 0px;
  list-style: none;
}

#menu ul li{
display: inline;
}

#menu ul li a{
  font: 18px  Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  font-weight: normal;
  text-decoration: none;
  display: block;
  float: left;
  width: 109px;
  height: 33px;
  line-height: 33px;
  background: url(/images/themes/freecss_solid/menu_bg.png) no-repeat top left;
  margin-right: 8px;
}

#menu ul li a:hover,  #menu ul li .active{
color: #ffffff;
background: url(/images/themes/freecss_solid/menu_bg_active.png) no-repeat top left;
}

/*
content
*/

.content_top{
background: url(/images/themes/freecss_solid/content_top.png) no-repeat top left;
height: 19px;	
}

.content_bot{
background: url(/images/themes/freecss_solid/content_bot.png) no-repeat top left;
height: 20px;
}

#content{
background: #ffffff;
padding: 0px 15px;	
}

#content_body{
  margin: 0 5px 0px 5px;
  padding: 0 5px 0px 5px;
}

/*
prew_box
*/

#prew_button_box ul{
padding-left: 0px;
padding-top: 10px;
width: 101px;
margin: 0 auto;
  list-style: none;
}

#prew_button_box ul li{
display: inline;
}

#prew_button_box ul li a{
  display: block;
float: left;
  width: 24px;
  height: 22px;
background: url(/images/themes/freecss_solid/prew_img_button.png) no-repeat center;
margin-right: 1px;
}

#prew_button_box ul li a:hover,  #prew_button_box ul li .active{
background: url(/images/themes/freecss_solid/prew_img_button_hover.png) no-repeat center;
}

/*
column 3 box
*/

#column_box{
background: url(/images/themes/freecss_solid/st_repeat.jpg) repeat-x top;
margin: 12px 20px 0px 16px;
}

#column_box p{
font: 11px Arial, Helvetica, sans-serif;
color: #666666;
}

#bg_left{
background: url(/images/themes/freecss_solid/st_left.jpg) no-repeat top left;
float: left;
width: 46px;
height: 151px;
}


#column1, #column2, #column3{
float: left;
width: 230px;
height: 121px;
padding: 20px 45px 10px 20px;
}

#column1, #column2{
background: url(/images/themes/freecss_solid/st_center.jpg) no-repeat top right;
}

#column3{
background: url(/images/themes/freecss_solid/st_right.jpg) no-repeat top right;
}

/*
last_box
*/

#last_box{
background: url(/images/themes/freecss_solid/bor_vertical.gif) repeat-y  492px;
margin-top: 33px;
}

#last_box_left{
width: 465px;
float: left;
padding-left: 15px;
}

#last_box_left p{
font-size: 11px;
}

#last_box_left img{
float: left;
padding: 0px 10px 5px 0px;
}

#last_box_right{
width: 445px;
float: right;
}

#last_box_right1{
float: left;
width: 210px;
}

#last_box_right2{
float: right;
width: 200px;
}

#last_box_right2 p{
line-height: 20px;	
}

.ls2{
  list-style: none;
  padding-left: 0px;
}

.ls2 li{
  background: url(/images/themes/freecss_solid/ls_black.gif) no-repeat 0px 6px;
  margin-bottom: 5px;
  padding-left: 15px;
}

/*
footer_top
*/

#footer_bg{
background: url(/images/themes/freecss_solid/footer_bg.png) no-repeat top left;
max-height: 260px;
margin-top: 18px;
}

#footer_top{
padding-bottom: 10px;
}

#footer_top p, #footer_top p a, #footer_top a{
color: #ffffff;
}



#footer_top_column1{
float: left;
width: 275px;
padding-left: 25px;
}

#footer_top_column2{
float: left;
padding-left: 15px;
width: 520px;
}

#footer_top_column2 p{
line-height: 20px;
}

#footer_top_column3{
float: left;
width: 215px;
padding-left: 25px;
}

#footer_top_column4{
float: left;
padding-left: 25px;
width: 250px;
}

.ls{
  list-style: none;
  padding-left: 0px;
}

.ls a{
color: #ffffff;	
}

.ls li{
  background: url(/images/themes/freecss_solid/ls_white.gif) no-repeat 0px 6px;
  margin-bottom: 5px;
  padding-left: 0px;
}

.link1{
  background: url(/images/themes/freecss_solid/link1.png) no-repeat 0px 2px;
  padding-left: 30px;
  min-height: 18px;
  padding-bottom: 10px;
}

.link2{
  background: url(/images/themes/freecss_solid/link2.png) no-repeat 0px 2px;
  padding-left: 30px;
  min-height: 18px;
  padding-bottom: 10px;
}

.link3{
  background: url(/images/themes/freecss_solid/link3.png) no-repeat 0px 2px;
  padding-left: 30px;
  min-height: 18px;
  padding-bottom: 10px;
}

.link4{
  background: url(/images/themes/freecss_solid/link4.png) no-repeat 0px 2px;
  padding-left: 30px;
  min-height: 18px;
  padding-bottom: 10px;
}

.ls{
  list-style: none;
  padding-left: 0px;
}

.ls li{
  background: url(/images/themes/freecss_solid/ls1.gif) no-repeat 0px 6px;
  margin-bottom: 8px;
  padding-left: 15px;
}

.under{
text-decoration: underline;
}

/*
footer_bot
*/

#footer_bot{
background: url(/images/themes/freecss_solid/bor_gorizontal.gif) top repeat-x;
padding: 15px;
margin: 0px 20px;
text-align: center;
}

#footer_bot p a, #footer_bot p{
color: #ffffff;
}


/*
scroll styles here
*/

.item { width: 966px; height: 304px;}
.item img {float:left;}
.item h2 { border:none; margin-bottom:15px;}

.scrollable { position:relative; overflow:hidden; width: 966px; height: 304px;} 
.scrollable .items { width:20000em; position:absolute;}
.scrollable .items div { float:left;} 
.scrollable .items .item { overflow:hidden;}
.scrollable .items .item p { line-height:16px;}
.navi { width:auto; height:10px;  margin: 5px 0 0 0; padding-left: 460px;} 
.navi a { width: 24px; cursor:pointer; height: 22px; float:left; margin:0 0 0 3px; background:url(/images/themes/freecss_solid/prew_img_button.png) no-repeat scroll top; display:block; font-size:1px;} 
.navi a:hover, .navi a.active { background-position:left top; margin:0 0 0 3px;  background:url(/images/themes/freecss_solid/prew_img_button_hover.png) no-repeat scroll top}

.header1
{
width: 966px; height: 304px;
}

.header2
{
width: 966px; height: 304px;
}

.header3
{
width: 966px; height: 304px;
}

.header4
{
width: 966px; height: 304px;
}

/* ------------------------------------------------------------------------
DO NOT CHANGE
------------------------------------------------------------------------- */


div.pp_overlay {background: #000;display: none;left: 0;position: absolute;top: 0;width: 100%;z-index: 9500;}
div.pp_pic_holder {display: none;position: absolute;width: 100px;z-index: 10000;}



.image_item {
  padding: 4px;
  margin: 5px 10px 10px 0px;
  display: inline;
  clear: none;

}
.image_item img {
  padding: 2px;
  border: 2px solid #999;
  -webkit-box-shadow: 2px 2px 12px #888;
  -moz-box-shadow: 2px 2px 12px #888;
  box-shadow: 2px 2px 12px #888;
}
.image_item_full {
  margin: 5px 10px 10px 0px;
  padding: 2px;
  border:2px solid #999;
}

img.with_shadow {
  margin: 10px 10px 10px 0;
  padding: 2px;
  border: 2px solid #999;
  -webkit-box-shadow: 2px 2px 12px #888;
  -moz-box-shadow: 2px 2px 12px #888;
  box-shadow: 2px 2px 12px #888;
}