/*
Pretty Table Styling
CSS Tricks also has a nice writeup: http://css-tricks.com/feature-table-design/
*/ 
table {
  font-size: 14px;
  width: 99%;
  overflow:hidden;
  border:1px solid #ccc;
  background:#fefefe;
  margin: 20px 0 10px 0;
  box-shadow: 2px 2px 10px #999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
 
th, td {padding:6px 3px; text-align:center; }
 
th {font-size: 1.2em;padding-top:10px; text-shadow: 1px 1px 1px #fff; background:#e8eaeb;}
 
td {border-top:1px solid #e0e0e0; border-right:1px solid #e0e0e0;}
 
tr.odd-row td {background:#f6f6f6;}
 
td.first, th.first {text-align:center}
 
td.last {border-right:none;}

#content .white table td img {
  display:inline;
  margin: 0px;
  padding: 0px;
  text-align: center;
  vertical-align: top;
}
 
/*
Background gradients are completely unnecessary but a neat effect.
*/
 
td {
    background: -moz-linear-gradient(100% 25% 90deg, #fefefe, #f9f9f9);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f9f9f9), to(#fefefe));
}
 
tr.odd-row td {
    background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1), to(#f6f6f6));
}
 
th {
    background: -moz-linear-gradient(100% 20% 90deg, #e8eaeb, #ededed);
    background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#ededed), to(#e8eaeb));
}
 
/*
I know this is annoying, but we need additional styling so webkit will 
 recognize rounded corners on background elements. Nice write up of this issue: 
 http://www.onenaught.com/posts/266/css-inner-elements-breaking-border-radius
And, since we've applied the background colors to td/th element because of IE, 
 Gecko browsers also need it.
*/
 
tr:first-child th.first {
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px; /* Saf3-4 */
}
 
tr:first-child th.last {
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px; /* Saf3-4 */
}
 
tr:last-child td.first {
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px; /* Saf3-4 */
}
 
tr:last-child td.last {
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px; /* Saf3-4 */
}

table.small_table {
  width: 99%;
}
table.small_table th {
  margin: 0;
  padding: 5px 0px;
  color: #666;
}
table.small_table tr {
  
}
table.small_table td {
  margin: 0;
  padding: 7px 0px;
  color: #666;
}

.unread_true, 
.unread_true a {
	text-decoration: underline;
	font-weight: bold;
}
.urgent_true,
.urgent_true a {
  color: #B02B2C;
}
