<h1>Editing Image</h1>

<%= form_for(@image, :url => { :action => "create" }, :html => { :multipart => true }) do |f| %>
  <%= render 'form', :f => f %>
<% end %>

<p><%= link_to 'Back', admin_images_path %></p>